apiVersion: v1
kind: Service
metadata:
  name: microkernel-server
  labels:
    app: microkernel-server
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 4000
    protocol: TCP
    name: http
  selector:
    app: microkernel-server

